/* public/styles/admin/partials/listing.css */
:root{
    --background-admin:#f89d9d;
}

.Listing{
    margin-top:10px;
    margin-bottom: 20px;
}

.Listing .info{
    text-align: center;
    background: var(--background-admin);
    padding: 10px;
}

.Listing .wrapper{
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px;
    padding: 10px 0;
}

.Listing .wrapper .item{
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-gap:10px;
    align-items: center;
    background: var(--background-admin);
}

.Listing .wrapper .item:hover .edit-delete img{
    visibility: visible;
}

.Listing .wrapper .item .thumb-wrapper{
    position: relative;
    padding-top: 56.25%;
}

.Listing .wrapper .item .thumb-wrapper .thumb{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.Listing .wrapper .item .thumb-wrapper .play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.Listing .wrapper .item .title-wrapper .title{
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Listing .wrapper .item .edit-delete{
    text-align: right;
    padding-right: 10px;
}

.Listing .wrapper .item .edit-delete img{
    width: 35px;
    visibility: hidden;
}

.Listing .pagination{
    text-align: center;
    background: var(--background-admin);
    padding: 10px 0;
}

.Listing .pagination img:hover{
    cursor: pointer;
    opacity: .5;
}