.Login{
    width: 400px;
    margin: 60px auto;
    background: var(--background);
    color: white;
    
}

.Login .title{
    font: 18px/1.5 Oswald, Moul;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.Login form{
    padding: 20px;
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 5px;
    align-items: center;
}

.Login form span{
    text-align: right;
}

.Login form input{
    font: var(--body-font);
    padding: 0 10px;
}

.Login form .info{
    text-align: center;
}