.Header{
    background: var(--background);
    color: white;
    padding: 10px 0;
    border-top: 10px solid var(--background-dark);
}

.Header .wrapper{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    text-align: center;
}

.Header .wrapper .date{
    font: 20px/1.5 Oswald, Bayon;
    padding-bottom: 5px;
}

.Header .wrapper .title{
    font: 50px/1.5 StardosStencil, Limonf3;
}

.Header .wrapper .title a{
    color: white;
}

.Header .wrapper .description{
    font: 18px/1.5 HandWriting;
}

.Header .wrapper form{
    display: grid;
    grid-template-columns: 65% 25%;
    text-align: right;
}

.Header .wrapper form input{
    font: var(--body-font);
    padding: 0 10px;
}


@media only screen and (max-width: 800px){
    .Header .wrapper{
        grid-template-columns: 100%;
    }

    .Header .wrapper form{
        grid-template-columns: 75% 25%;
        padding: 10px;
    }
}